.snakemake
__pycache__
resources/*
logs/
results/*
test/Mycolicibacterium_smegmatis/*.fastq.gz
test/Mycolicibacterium_smegmatis/*.fa
test/Mycolicibacterium_smegmatis/*.gff
test/Mycolicibacterium_smegmatis/*.done
